# Ignore sensitive keys
SmartMeter/*.json
*.json

# Ignore temporary outputs
wordcount/outputs*
wordcount/output*
outputs*
staging/
temp/

# Ignore Python artifacts
__pycache__/
*.pyc
*.pyo
beam-env/
.venv/
venv/
